.App {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100vw;
   }
   
   .App-sidebar {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    background-color: #f5f5f5;
    background: rgb(87, 87, 87);
    padding: 20px;
   }
   
   .App-content {
    padding: 20px;
   }

   .Rute-Component{
    background-color: #10028d;
    text-align: center;
    padding: 20px;
    color: white;
    grid-column: 1;
    grid-row: 1;
   }
   
   .Header {
    background-color: #4caf50;
    grid-column: 2;
    padding: 20px;
    color: #10028d;
   }

   .Ingresar {
    margin-bottom: 20px;
   }

   .Tabla-Productos {
    width: 100%;
    border-collapse: collapse;
   }

   .Tabla-Productos th,
   .Tabla-Productos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
   }

   .Tabla-Productos th {
    background-color: #4caf50;
    color: white;
   }

   .Acciones {
    display: flex;
    justify-content: space-around;
   }

   .ButSide {
    font-size: larger;
    font-family: cursive;
    width: 95%;
    background: #270c5200;
   }

   .Boton-Accion {
    background-color: #150699;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
   }

   .Boton-Accion:hover {
    background-color: #19076e;
   }
   html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
   }