.App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #10028d;
    padding: 10px;
    font-size: 18px;
    grid-column: 2;
    color: white;
}

.App-header-name {
    margin-left: 10px;
}

.App-header-component {
    margin-right: 10px;
}

.Logout{
    width: 100px;
}